<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<form method="GET" class="product-filters">
    <select name="category">
        <option value="">All Categories</option>
        {% for cat in categories %}
        <option value="{{ cat.slug }}" {% if request.GET.category == cat.slug %}selected{% endif %}>
            {{ cat.get_full_path }}
        </option>
        {% endfor %}
    </select>

    <select name="brand">
        <option value="">-- Brands --</option>
        <option value="none" {% if request.GET.brand == 'none' %}selected{% endif %}>No Brand</option>
        {% for b in brands %}
        <option value="{{ b }}" {% if request.GET.brand == b %}selected{% endif %}>{{ b }}</option>
        {% endfor %}
    </select>


    <select name="stock">
        <option value="">-- Stock --</option>
        <option value="in" {% if request.GET.stock == 'in' %}selected{% endif %}>In Stock</option>
        <option value="less" {% if request.GET.stock  == 'less' %}selected{% endif %}>Bellow 5</option>
        <option value="out" {% if request.GET.stock == 'out' %}selected{% endif %}>Out of Stock</option>
    </select>

    <select name="is_listed" id="is_listed">
        <option value="">-- Listing --</option>
        <option value="true" {% if request.GET.is_listed == 'true' %}selected{% endif %}>Listed</option>
        <option value="false" {% if request.GET.is_listed == 'false' %}selected{% endif %}>Unlisted</option>
    </select>

    <select name="is_sale" id="is_sale">
        <option value="">-- Sale --</option>
        <option value="true" {% if request.GET.is_sale == 'true' %}selected{% endif %}>Discounted</option>
        <option value="false" {% if request.GET.is_sale == 'false' %}selected{% endif %}>No Discount</option>
    </select>

    <input type="text" id="date_range" name="date_range" class="custom-input" 
       value="{{ date_range|default_if_none:'' }}" placeholder="Select Date Range">

    <input type="text" id="specific_date" name="specific_date" class="custom-input" 
        value="{{ specific_date|default_if_none:'' }}" placeholder="Select Date">

    <input type="text" name="calendar" id="calendar" class="custom-input" 
        value="{{ selected_date|default_if_none:'' }}" placeholder="Select date" />

    <div class="search-wrapper">
        <input type="text" name="search" class="custom-input search-input" placeholder="Search products..." value="{{ request.GET.search|default_if_none:'' }}">
        <button type="submit" class="search-btn">🔍</button>
    </div>
          
    <button type="submit">Apply Filters</button>
    <a href="{% url 'product_list' %}"><button type="button" class="reset-btn">Reset Filters</button></a>
</form>

    <div class="calendar-legend">
        <small><span style="background:red;" class="legend-dot"></span> 6+ products</small>
        <small><span style="background:orange;" class="legend-dot"></span> 3–5 products</small>
        <small><span style="background:lightgreen;" class="legend-dot"></span> 1–2 products</small>
    </div>

<section class="products-section">
    <div class="view-toggle">
        <button data-view="table">🔳 Table View</button>
        <button data-view="grid">🟦 Grid View</button>
        <button data-view="list">📄 List View</button>
      </div>
<br>

<a href="{% url 'export_full_products_csv' %}">
    <button type="button" class="export-btn">Export Full Product Model</button>
  </a>
  
<br>


{% if view_mode == 'grid' %}
    {% include 'myadmin/partials/products-grid-view.html' %}
{% elif view_mode == 'list' %}
    {% include 'myadmin/partials/products-list-view.html' %}
{% else %}
    {% include 'myadmin/partials/products-table-view.html' %}
{% endif %}



</section>



<style>
    .flatpickr-day.red {
    background: #ff6961;
    color: white;
    border-radius: 50%;
}
.flatpickr-day.orange {
    background: #fcbf49;
    color: black;
    border-radius: 50%;
}
.flatpickr-day.lightgreen {
    background: #90ee90;
    color: black;
    border-radius: 50%;
}
.legend-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;
}

</style>


<style>
    .product-filters {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .product-filters select,
    .product-filters button {
        padding: 6px 12px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    .products-section {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .products-section h2 {
        margin-bottom: 15px;
    }

    .products-table {
        width: 100%;
        border-collapse: collapse;
    }

    .products-table th,
    .products-table td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    .products-table th {
        background: #f4f4f4;
    }

    .status.in-stock {
        background: #13bc59;
        padding: 5px 10px;
        color: white;
        border-radius: 4px;
        font-size: 0.9em;
    }

    .status.out-stock {
        background: #e74c3c;
        padding: 5px 10px;
        color: white;
        border-radius: 4px;
        font-size: 0.9em;
    }

    .status.less-stock {
        background: #d5af5b;
        padding: 5px 10px;
        color: white;
        border-radius: 4px;
        font-size: 0.9em;
    }
</style>
<!-- Flatpickr JS -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>
    flatpickr("#date_range", {
      mode: "range",
      dateFormat: "Y-m-d"
    //   inline: true
    });
  </script>

<script>
    flatpickr("#specific_date", {
      dateFormat: "Y-m-d"
    });
  </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const dateCounts = JSON.parse('{{ date_counts_json|safe }}');
  
      function getColor(count) {
        if (count >= 6) return 'red';
        if (count >= 3) return 'orange';
        if (count >= 1) return 'lightgreen';
        return '';
      }
  
      flatpickr("#calendar", {
        dateFormat: "Y-m-d",
        allowInput: true,
        onDayCreate: function (dObj, dStr, fp, dayElem) {
          const date = dayElem.dateObj.toISOString().split('T')[0];
          const count = dateCounts[date];
          if (count) {
            const color = getColor(count);
            dayElem.classList.add(color);
          }
        }
      });
    });


    const viewButtons = document.querySelectorAll('[data-view]');
    viewButtons.forEach(btn => {
    btn.addEventListener('click', () => {
        const selectedView = btn.getAttribute('data-view');
        const url = new URL(window.location.href);
        url.searchParams.set('view', selectedView);
        window.location.href = url.toString();
    });
    });

    document.querySelectorAll('#column-controls input[type="checkbox"]').forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
            const colClass = checkbox.dataset.column;
            const visible = checkbox.checked;
            document.querySelectorAll(`.col-${colClass}`).forEach(td => {
                td.style.display = visible ? '' : 'none';
            });
        });
    });
  </script>
  
  